PORT=3333
NODE_ENV=development
JWT_SECRET=controle-epis-jwt-secret-dev
JWT_EXPIRES_IN=1d
ADMIN_DEFAULT_EMAIL=admin@controle-epis.local
ADMIN_DEFAULT_PASSWORD=admin123
ADMIN_DEFAULT_NAME=Administrador
TYPEORM_SYNCHRONIZE=true

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=controle_epis
